@model EventModel
    @{
        Layout = "~/Views/Shared/_ColumnsTwoIntro.cshtml";
    }
    @section left{
        @Html.Action("InfoBlock", "Common")
    }
    @section YouAreHere{
        <div class="youAreHere">
            <ul>
                <li><a href="@Url.RouteUrl("Homepage")">@T("Homepage")</a></li>
                <li><a href="@Url.Action("Index", "EventRead")">@T("Toi.Plugin.Misc.Events.Event")</a></li>
                <li class="active">@Html.Raw(Model.Title)</li>
            </ul>
        </div>
    }
<h4 class="titleIntroDiv">@Html.Raw(Model.Title)</h4>
<div>
    @Html.Raw(Model.Full)
</div>
