@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@*category breadcrumb*@
@section YouAreHere
{
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="youAreHere">
            <ul>
                <li>
                    <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                </li>
                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    var isLastCategory = cat.Id == Model.Id;
                    <li class="@(isLastCategory?"active":"")">
                        @if (isLastCategory)
                        {
                            <a href="#">@cat.Name</a>
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("Category", new {SeName = cat.SeName})" title="@cat.Name">@cat.Name</a>
                        }
                    </li>
                }
            </ul>
        </div>
        @Html.Widget("categorydetails_after_breadcrumb")
    }
}
<div class="bannerPageProduct crop">
    <img src="@Model.PictureModel.ImageUrl" alt="@Html.Raw(Model.Name)" title="@Html.Raw(Model.Name)" />
</div>
@if (Model.SubCategories.Count > 0)
{
    <div class="productsContent">
        <h3>@T("SubCategories")</h3>
        <div class="row productGroup">
        @foreach (var item in Model.SubCategories)
        {
            <div class="col-sm-4 pGroupItem">
                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title" class="image">
                    <div class="crop shadow">
                        <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl"
                             title="@item.PictureModel.Title" />
                    </div>
                </a>
                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title" class="title">
                    @Html.Raw(item.Name)
                </a>

            </div>
        }
        </div>
    </div>
}
    <div class="productsContent">
        <h3>@Html.Raw(Model.Name)</h3>
        @if (Model.Products.Count > 0)
        {
            <div class="row productList">
                @foreach (var product in Model.Products)
                {
                    @Html.Partial("_ProductBoxSmall", product)
                }
            </div>
        }
    </div>
