@model MenuModel
@using Nop.Web.Models.Common;
<ul class="menu">
    @Html.Widget("header_menu_before")
    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
    <li><a href="@Url.RouteUrl("Category", new { SeName = "thep" })">@T("Product")</a></li>
    @*<li><a href="@Url.Action("Index", "ServiceRead")">Dịch vụ</a></li>*@
    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "OurProductAndService" })">Dịch vụ</a></li>
    @*<li><a href="@Url.Action("UnderConstruction", "Common")">Dịch vụ</a></li>*@
    <li><a href="@Url.Action("UnderConstruction", "Common")">Dụng cụ</a></li>
    @*<li><a href="@Url.RouteUrl("Topic", new { SystemName = "Project" })">@T("Project")</a></li>*@
    <li><a href="@Url.Action("UnderConstruction", "Common")">Thiết bị</a></li>
    @*<li><a href="@Url.Action("Index", "DiyGroupRead")">@T("DoItYourself")</a></li>*@
    <li><a href="@Url.Action("UnderConstruction", "Common")">@T("DoItYourself")</a></li>
    <li style="border-right: 0;"><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>

    @*@if (Model.RecentlyAddedProductsEnabled)
    {
        <li>
            <a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
        </li>
    }
    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
    @if (Model.BlogEnabled)
    {
        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
    }
    @if (Model.ForumEnabled)
    {
        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
    }
    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>*@
    @Html.Widget("header_menu_after")
</ul>
