@model IEnumerable<DiyProjectModel>
<div class="productsContent">
    <h3>@T("OrtherDIYProjects")</h3>
   
    <div class="row productGroup">
        @foreach (var project in Model)
    {
        <div class="col-sm-4 pGroupItem DIY_Item">
            <a href="@Url.Action("Detail","DiyProjectRead", new {id = project.Id})" class="image"><img src="@project.PictureModel.ImageUrl"></a>
            <a class="title" href="@Url.Action("Detail","DiyProjectRead", new {id = project.Id})">@Html.Raw(project.Title)</a>
        </div>
    }
        
     
    </div>
</div>